/***************
     RESET
***************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 3);
    background-color: red;
    border: 1px solid white;
    height: 300px;
}